// Variables
$primary-color: #30e8bf; // #ff8235; // #96fbc4;
$secondary-color: #f9f586;

$text-color: #333;

// Mixins
@mixin doDefaults {
  display: flex;
  justify-content: stretch;

  & input {
    width: 100%;
    font-family: inherit;
    color: $text-color;
    border-style: none;
    padding: 1rem;
    outline: none;

    &:disabled {
      color: $text-color;
      background-color: #fff;
    }
  }

  & button {
    border-style: none;
    color: inherit;
    padding: 1rem 1.2rem;
    outline: none;
  }

  & button:hover {
    cursor: pointer;
  }
}
