// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Defaults
body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%; // 1rem = 10px
  height: 100vh;
  background: #30e8bf; // fallback for old browsers
  background: linear-gradient(-35deg, #ff8235, #30e8bf);
}

// Utilities
.invalidTask::placeholder {
  color: red;
}

.hidden {
  display: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-pencil {
  fill: #444;
}
